/* Main styles */
body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

a:hover {
    border-bottom: 4px solid #ffcc33;
    padding-bottom: 15px;
}

.container {
    display: flex;
    justify-content: center;
}

.logo {
    margin: 40px 40px;
    padding: 20px;
}

.menu {
    padding: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.menu li {
    margin-right: 20px;
    list-style-type: none;
}

.menu a {
    color: #333333; 
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

#main {
    background-image: url(img/ethanol.jpg);
    background-size: cover;
}

.website {
    display: flex;
    flex-direction: column;
}

h1 {
  font-size: 40px;
  color:#ffcc33;
  text-align: center;
  text-transform: uppercase;
  padding: 265px 0 0 0;
}

p {
    font-size: 22px;
    color:#fff;
    text-align: center;
}

.test {
    padding: 134px 0 256px 0;
    text-align: center;
}

a.buttom {
    font-size: 22px;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
}

a.buttom:hover {
    color:#fff;
} 

@media screen and (max-width: 600px) {
    .logo {
      margin: 20px;
      padding: 20px;
      display: block;
    }
   /* nav {
      border-bottom: 1px solid red;
    }*/
  } 